a.nav_link:hover {
  cursor: pointer;
  color: #00499b;
}

.nav_link {
  text-decoration: none;
  color: black;
}

.nav_links {
  text-decoration: none;
  color: #00499b;
}

.nav_links:hover {
  text-decoration: none;
  color: #1b1e1e;
}

.menu_link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 35px;
  text-align: left;
  height: 100%;
}

a.menu_link:hover {
  cursor: pointer;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 27px;
}
